<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="../templates/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
      <title>Сinema site</title>
   </head>
   <body>
      <div class="main_container">
         <div class="name">
            <h1 align="center">More tickets</h1>
            <div class="clear"></div>
         </div>
         <div class="interests1">
            <form action="searchInIndex.php" method="post">
               <select id="selectItem" name="city">
                   {% for city in cities %}
                      <option id="select city">{{ city }}</option>
                   {% endfor %}
               </select>
               <form class="interests1_search_form">
                  <p><input type="search" name="nameOfFilm" placeholder="Поиск по сайту">
                     <input type="submit" name="do_search" value="Найти">
                  </p>
               </form>
            </form>
         </div>
         <div class="interests2">
            <div class="batton">
               <p style="color: white">{{ login }}</p>
               <p>&nbsp;</p>
               <a href="exit_from_accaunt.php" class="button1">Выход</a>
            </div>
         </div>
         <div class="clear"></div>
         <div class="add_container">
            <ol class="rounded">
               <li><a href="add_genre.php">&nbsp &nbsp Добавить жанр</a></li>
               <li><a href="delete_genre.php">&nbsp &nbsp Удалить жанр</a></li>
               <a href="index.php" id="submit" style="color: red">&nbsp &nbsp На главное</a>
            </ol>
         </div>
         <div class="clear"></div>
         <div class="my_contact">
            <h4>© 2018 "More tickets", Inc</h4>
            <a href=""><img class="contacts" src="../templates/image/vk.png" alt="vk"></a>
            <a href=""><img class="contacts" src="../templates/image/vi.jpg" alt="vi"></a>
            <a href=""><img class="contacts" src="../templates/image/inst.jpg" alt="inst"></a>
         </div>
         <div class="clear"></div>
      </div>
   </body>
</html>