<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="../templates/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
      <title>Качественное кино</title>
   </head>
   <body>
      <div class="main_container">
         <div class="name">
            <h1 align="center">Качественное кино</h1>
            <div class="clear"></div>
         </div>
         <div class="interests1">
            <form action="searchInIndex.php" method="post">
               <select id="selectItem" name="city">
                  {% for city in cities %}
                      <option id="select city">{{ city }}</option>
                  {% endfor %}
               </select>
               <form class="interests1_search_form">
                  <p><input type="search" name="nameOfFilm" placeholder="Поиск по сайту">
                     <input type="submit" name="do_search" value="Найти">
                  </p>
               </form>
            </form>
         </div>
         <div class="interests2">
            <div class="batton">
               <a href="login.php" class="button">Войти</a>
               <p>&nbsp;</p>
               <a href="signup_client.php" class="button">Регистрация</a>
            </div>
         </div>
         <div class="clear"></div>
         <div class="film_container">
            <h1>Топ фильмы недели</h1>
            <div class="film_blocks">
               <div class="about_film">
                  <h3>"Название фильма"</h3>
                  <img class="film" src="image/1.jpg" alt="Film1">
                  <p>
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                  </p>
               </div>
               <div class="about_film">
                  <h3>"Название фильма"<h3>
                  <img class="film" src="image/1.jpg" alt="Film2">
                  <p>
					 Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                  </p>
               </div>
               <div class="about_film">
                  <h3>"Название фильма"</h3>
                  <img class="film" src="image/1.jpg" alt="Film3">
                  <p>
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                  </p>
               </div>
               <div class="about_film">
                  <h3>"Название фильма"</h3>
                  <img class="film" src="image/1.jpg" alt="Film4">
                  <p>
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                  </p>
               </div>
               <div class="clear"></div>
            </div>
         </div>
         <div class="my_contact">
            <h4>© 2018 "Название сайта", Inc</h4>
            <a href=""><img class="contacts" src="../templates/image/vk.png" alt="vk"></a>
            <a href=""><img class="contacts" src="../templates/image/vi.jpg" alt="vi"></a>
            <a href=""><img class="contacts" src="../templates/image/inst.jpg" alt="inst"></a>
         </div>
         <div class="clear"></div>
      </div>
      </div>
   </body>
</html>