<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
      <title>Сinema site</title>
   </head>
   <body>
      <div class="main_container">
         <div class="name">
            <h1 align="center">More tickets</h1>
            <div class="clear"></div>
         </div>
         <div class="interests1">
            <select id="selectItem">
               <option id="select city">Выберите город</option>
               <option id="chelyabinsk">Йошкар-Ола</option>
               <option id="moskva">Москва</option>
               <option id="piter">Санкт-Петербург</option>
               <option id="nnovgor">Нижний Новгород</option>
               <option id="chelyabinsk">Челябинск</option>
            </select>
            <form class="interests1_search_form">
               <p><input type="search" name="q" placeholder="Поиск по сайту"> 
                  <input type="submit" value="Найти">
               </p>
            </form>
         </div>
         <div class="interests2">
            <div class="batton">
               <a href="enter.html" class="button1">Войти</a>
               <p>&nbsp;</p>
               <a href="registration.html" class="button1">Регистрация</a>
            </div>
         </div>
         <div class="clear"></div>
         <div class="film_container">
            <h1>Результаты поиска</h1>
            <div class="film_blocks">
               <div class="about_film">
                  <h3>"Название фильма"</h3>
                  <img class="film" src="image/1.jpg" alt="Film1">
                  <p>
                     Название кинотеатра:_______<br></br>
					 Время начала сеанса:_______<br></br>
					 Описание фильма:
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                  </p>
               </div>
               <div class="about_film">
                  <h3>
                  "Название фильма"
                  <h3>
                  <img class="film" src="image/1.jpg" alt="Film2">
                  <p>
                     Название кинотеатра:_______<br></br>
					 Время начала сеанса:_______<br></br>
					 Описание фильма:
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                  </p>
               </div>
               <div class="about_film">
                  <h3>"Название фильма"</h3>
                  <img class="film" src="image/1.jpg" alt="Film3">
                  <p>
                     Название кинотеатра:_______<br></br>
					 Время начала сеанса:_______<br></br>
					 Описание фильма:
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                  </p>
               </div>
               <div class="about_film">
                  <h3>"Название фильма"</h3>
                  <img class="film" src="image/1.jpg" alt="Film4">
                  <p>
                     Название кинотеатра:_______<br></br>
					 Время начала сеанса:_______<br></br>
					 Описание фильма:
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                     Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст. Текст.
                  </p>
               </div>
               <div class="clear"></div>
            </div>
         </div>
         <div class="my_contact">
            <h4>© 2018 "More tickets", Inc</h4>
            <a href=""><img class="contacts" src="image/vk.png" alt="vk"></a>
            <a href=""><img class="contacts" src="image/vi.jpg" alt="vi"></a>
            <a href=""><img class="contacts" src="image/inst.jpg" alt="inst"></a>
         </div>
         <div class="clear"></div>
      </div>
   </body>
</html>